@font-face {
    font-family: "Papyrus";
    src: url('/css/fonts/Papyrus.ttf');
}

@font-face {
    font-family: "MTT";
    src: url('/css/fonts/MTT.ttf');
}

@font-face {
    font-family: "Gaster";
    src: url('/css/fonts/wingdings.ttf');
}

@font-face {
    font-family: "sans";
    src: url('/css/fonts/sans.ttf');
}

@font-face {
    font-family: "Joy";
    src: url('/css/fonts/joy.ttf');
}

@font-face {
    font-family: "TerribleFate";
    src: url('/css/fonts/terrible-fate.ttf');
}

@font-face {
    font-family: "NobodyCame";
    src: url('/css/fonts/nbdcm.ttf');
}