body {
    background-image: url('/img/bg/backg02.jpg');
}

table {
    width: 100%;
}

th {
    text-align: center;
}

.fancy-write {
    font-family: 'Kaushan Script', cursive;
}

table.prefs {
    background-color: #d59392;
}

table.prefs tbody>tr:nth-child(odd) {
    background-color: #fc8c84;
}

table.prefs td {
    width: 15%;
}

td>img:not([class='max']) {
    cursor: pointer;
}

.white {
    color: gainsboro;
}

.right-align {
    float: right;
}

.left-align {
    float: left;
}

.text-center {
    text-align: center;
}