body {
    background-image: url('/img/bg/backg02.jpg');
    background-attachment: fixed;
}

table {
    width: 100%;
}

th {
    text-align: center;
}

table.prefs {
    background-color: #d59392;
}

table.prefs tbody>tr:nth-child(odd) {
    background-color: #fc8c84;
}

table.prefs td {
    width: 15%;
}

table.prefs td:last-child {
    width: 5%;
}

table#stats td>img:not([class='max']) {
    cursor: pointer;
}

table#show-stats td > span {
    cursor: pointer;
}

div#output {
    margin: 15px;
}

select#char-list {
    color: black;
}

span#xp-giver {
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

div#data textarea {
    resize: none;
}

.fancy-write {
    /*font-family: 'Kaushan Script', cursive;*/ /* Caine */
    /*font-family: 'Papyrus', cursive;*/ /* PAPYRUS */
    /*font-family: 'Comic Sans MS', cursive;*/ /* sans */
    /*font-family: 'Wingdings', cursive;*/ /* W.D. Gaster */
}

.opener, .closer {
    cursor: pointer;
}

.learned {
    font-weight: bold;
    color: firebrick;
}

.levelbutton {
    width: 15px;
    height: auto;
}

.white {
    color: gainsboro;
}

.bg-white {
    background-color: white;
}

.right-align {
    float: right;
}

.left-align {
    float: left;
}

.text-center {
    text-align: center;
}