body {
    background-image: url('/img/bg/backg02.jpg');
}

table {
    width: 100%;
}

th {
    text-align: center;
}

.white {
    color: gainsboro;
}

.right-align {
    float: right;
}

.left-align {
    float: left;
}

.text-center {
    text-align: center;
}