//
   Created by mor on 8/05/16.

#roll.col-sm-10.overlay(hidden)
    .overlay-content
        .panel.panel-primary
            .panel-heading="Tirada"
            // TODO boton de volver para atras
            .panel.body
                label="Tirada de dados."
