// Bloque de la ficha de personaje
   Created by mor on 8/05/16.

link(rel="stylesheet" href="/css/window.css")
#sheet.col-sm-10.overlay(hidden)
    .overlay-content
        #img
        #main.panel.panel-primary
            .panel-heading="Ficha de estadísticas"
            .panel-body
                .table-responsive.text-center
                    table#stats.table
                        thead: th="Estadísticas"
                        tbody
                button#submit.btn.btn-danger.btn-large(type="button")="Guardar"