// Vista de la pantalla de escoger partida
   Created by mor on 4/05/16.
extends layout

block content
    .container.col-sm-4
        .panel.panel-primary
            .panel-heading.text-center=d_title
                a.right-align(href = "/login/"+user.name+"/new")
                    span.glyphicon.glyphicon-plus.white
                a.left-align(href = "/")
                    span.glyphicon.glyphicon-arrow-left.white
            .panel-body
                br
                form(role="form", method="POST")
                    .form-group
                        span.input-group-addon.text-center="Partida"
                        select.form-control(name="game")
                            each game in games
                                option=game.name
                    .form-group
                        span.icon-input-btn
                            input.btn.btn-default(type="submit", value="Entrar")
