doctype html
html(lang="es")
    head
        title=w_title
        meta(name='author', content='mor')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        //link(href="/lib/bootstrap/css/bootstrap-responsive.css", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href='/css/override.css')
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(type="text/javascript" src="/socket.io/socket.io.js")
        script(type="text/javascript" src="/js/util.js")
        script(type="text/javascript" src="/js/welcome.js")
        script(type="text/javascript" src="/js/ajax.js")
        script(type="text/javascript" src="/js/diceFunctions.js")
        script(type="text/javascript" src="/js/dice.js")
        script(type="text/javascript" src="/js/list.js")
        script(type="text/javascript" src="/js/restrict.js")
        script(type="text/javascript" src="/js/form.js")
        script(type="text/javascript" src="/js/prefs.js")
        script(type="text/javascript" src="/js/client.js")
        script(type="text/javascript" src="/js/charFunctions.js")
        script(type="text/javascript" src="/js/button.js")
        script(type="text/javascript" src="/js/overlay.js")
        script(type="text/javascript" src="/js/table.js")
    body
        block content
