doctype html
html(lang="es")
    head
        title=w_title
        meta(name='author', content='mor')
        each stylesheet in stylesheets
            link(rel="stylesheet", type="text/css", href=stylesheet)
        each script in scripts
            script(type="text/javascript", src=script)
    body
        block content
