doctype html
html(lang="es")
    head
        title=w_title
        meta(name='author', content='mor')
        link(href="/lib/bootstrap/dist/css/bootstrap.css", rel="stylesheet", type="text/css")
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href='/css/override.css')
        script(type="text/javascript", src="/lib/jquery/dist/jquery.js")
        script(type="text/javascript", src="/lib/bootstrap/dist/js/bootstrap.js")
        script(type="text/javascript", src="/lib/jspdf/dist/jspdf.debug.js")
        script(type="text/javascript", src="/lib/html2canvas/dist/html2canvas.js")
        script(type="text/javascript", src="/socket.io/socket.io.js")
        script(type="text/javascript", src="/hjs/util.js")
        script(type="text/javascript", src="/js/toCanvas.js")
        script(type="text/javascript", src="/js/welcome.js")
        script(type="text/javascript", src="/js/ajax.js")
        script(type="text/javascript", src="/js/diceFunctions.js")
        script(type="text/javascript", src="/js/dice.js")
        script(type="text/javascript", src="/js/list.js")
        script(type="text/javascript", src="/js/restrict.js")
        script(type="text/javascript", src="/js/form.js")
        script(type="text/javascript", src="/js/prefs.js")
        script(type="text/javascript", src="/js/client.js")
        script(type="text/javascript", src="/js/icons.js")
        script(type="text/javascript", src="/hjs/charFunctions.js")
        script(type="text/javascript", src="/js/button.js")
        script(type="text/javascript", src="/js/overlay.js")
        script(type="text/javascript", src="/js/table.js")
        script(type="text/javascript", src="/js/pdf.js")
    body
        block content
