// Vista de la pantalla de login
   Created by mor on 4/05/16.
extends layout

block content
    .container.col-sm-4
        .panel.panel-primary
            .panel-heading.text-center=d_title
                a.right-align(href = "/new")
                    span.glyphicon.glyphicon-plus.white
            .panel-body
                case error
                    when 1
                        #bad-credentials.alert.alert-danger
                            p.text-center="Credenciales incorrectas."
                br
                form(role="form", method="POST")
                    .form-group
                        span.input-group-addon.text-center="Usuario"
                        input.form-control(type="text", name="name", placeholder="nombre...")
                    .form-group
                        span.input-group-addon.text-center="Contraseña"
                        input.form-control(type="password", name="passwd", placeholder="contraseña...")
                    .form-group
                        span.icon-input-btn
                            input.btn.btn-default(type="submit", value="Entrar")