// Bloque de la ficha de personaje
   Created by mor on 8/05/16.

link(rel="stylesheet" href="/css/window.css")
div#char(hidden)=char
#sheet.container.overlay
    a.closebtn(href="javascript:void(0)", onclick="closeNav('sheet')")
        span.glyphicon.glyphicon-remove
    .overlay-content
        #img
        #main.panel.panel-primary
            .panel-heading="Datos principales"
            .panel-body
                table#stats
                    thead: th="Estadísticas"
                    tbody
                #data
                    #look
                        #look-data
                        #desc
                    #trf-data
                    #story
                #inv
script(type="text/javascript" src="/js/window.js")
