// Bloque de la ficha de personaje
   Created by mor on 8/05/16.

link(rel="stylesheet" href="/css/window.css")
#sheet.container.col-sm-10.overlay
    a.closebtn(href="javascript:void(0)", onclick="closeNav('sheet')")
        span.glyphicon.glyphicon-remove
    .overlay-content
        #img
        #main.panel.panel-primary
            .panel-heading="Ficha de estadísticas"
            .panel-body
                .table-responsive.text-center
                    table#stats.table
                        thead: th="Estadísticas"
                        tbody
