// Ventana del jugador
// TODO ficha hidden
   Created by mor on 6/05/16.

extends layout

block content
    #user(hidden)=user
    #char(hidden)=char
    #game(hidden)=game
    #wrapper
        #panel.panel.panel-primary
            .panel-heading=user.name+' - '+game.name
            .panel-body
                #img
                #stats
                    #attr
                        #phy
                        #soc
                        #men
                    #skills
                        #tln
                        #tech
                        #knldg
                    #advtges
                        #disc
                        #trf
                        #vrt
                        #misc
                #data
                    #look
                        #look-data
                        #desc
                    #trf-data
                    #story
                #inv
                #btns
        include panel_output
        include panel_create
        include panel_sheet
        include panel_action