// Ventana del jugador
   Created by mor on 6/05/16.

extends ../layout

block content
    #user(hidden)=userJSON
    #char(hidden)=charJSON
    #game(hidden)=gameJSON
    #wrapper.overlay
        .overlay-content
            #panel.panel.panel-primary(hidden)
                .panel-heading=user.name+' - '+game.name
                .panel-body
                    .table-responsive
                        table#show-data.table
                            thead: th="Datos del personaje"
                            tbody
                include panel_output
            include panel_data
            include panel_sheet
            include panel_action