// Vista de la pantalla de login
   Created by mor on 4/05/16.
extends ../layout

block content
    .container.col-sm-8
        .panel.panel-primary
            .panel-heading.text-center=d_title
                a.left-align(href = "/login/new")
                    span.glyphicon.glyphicon-plus.white
            .panel-body
                case error
                    when 1
                        #bad-credentials.alert.alert-danger
                            p.text-center="Credenciales incorrectas."
                //h2#welcome.text-center
                br
                form(role="form", method="POST")
                    .form-group.col-sm-4
                        span.input-group-addon.text-center="Nombre de usuario"
                        input.form-control(type="text", name="name", placeholder="nombre...")
                    .form-group.col-sm-4
                        span.input-group-addon.text-center="Contraseña"
                        input.form-control(type="password", name="passwd", placeholder="contraseña...")
                    .form-group.col-sm-4
                        span.icon-input-btn
                            input.btn.btn-danger.btn-lg(type="submit", value="Entrar")
    script(src='/js/welcome.js', type='text/javascript')