body {
    background-image: url('img/bg/backg02.jpg');
}

.white {
    color: gainsboro;
}

.right-align {
    float: right;
}

.left-align {
    float: left;
}

.container {
    float: none;
    margin: 0 auto;
    margin-top: 1%;
}

.text-center {
    text-align: center;
}