//
   Created by mor on 12/05/16.

mixin arrow-up(c)
    if c > 0
        span.prev.left-align.glyphicon.glyphicon-arrow-up

mixin arrow-down(c, lim)
    if c < lim
        span.next.right-align.glyphicon.glyphicon-arrow-down

mixin prefs-table-content(name, list)
    - var counter = 0
    - var len = list.length-1
    thead: th.text-center=name
    tbody
        each stat in list
            tr
                each item in stat
                    - type = typeof item
                    td: label(class=type)=item
                td.text-center
                    +arrow-up(counter)
                    +arrow-down(counter, len)
                - counter++

.col-sm-6
    table.table#attr-prefs.prefs.text-center
        +prefs-table-content(constants.stats.attributes.prefs.name, constants.stats.attributes.prefs.list)
.col-sm-6
    table.table#skills-prefs.prefs.text-center
        +prefs-table-content(constants.stats.skills.prefs.name, constants.stats.skills.prefs.list)
